<% provide(:title, "login") %>
<h1> Login Form </h1>
<div class="col-md-12">
	<div class="row">
	  <div class="col-md-4 mx-auto">
			<%= form_with(url: login_path, scope: :session, local: true) do |f| %>
			  <%= f.label :email %>
			  <%= f.email_field :email, class: "form-control" %>
			  <%= f.label :password %>
			  <%= f.password_field :password, class: "form-control" %>
			  <%= f.submit "Log in", class: "btn btn-primary" %>
			  <span> New user </span>
			  <%= link_to "Signup", new_path %>
      <% end %>
    </div>
  </div>  
</div>